@model IEnumerable<EmployeesDepartments.DAL.Entities.WorkingRate>
@{
   
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Список должностных позиций</title>
</head>
<body>
    <h3>Должностные позиции</h3>
    <table>
        <tr>
            <td>Должность</td>
            <td>Отдел</td>
            <td></td>
        </tr>
        @foreach (var workingRate in Model)
        {
    <tr>
        <td>@workingRate.workPositions.name</td>
        <td>@workingRate.department.name</td>
        <td><a href="~/EmployeesDepartments/EditWorkRate/@workingRate.id">Редактировать</a></td>
    </tr>
        }
    </table>
</body>
</html>