@model IEnumerable<EmployeesDepartments.DAL.Entities.Department>
@{

    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Список отделов с указанием начальника</title>
</head>
<body>
    <h3>Должностные позиции</h3>
    <table>
        <tr>
            <td>Отдел</td>
            <td>Начальник</td>
            <td></td>
        </tr>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.name</td>
                <td>@department.workingRates.First().employeeWorkingRates.First().employee.name</td>
                <td><a href="~/EmployeesDepartments/GetEmpoyeesByDepartmentId/@department.id">Список сотрудников</a></td>
            </tr>
        }
    </table>
</body>
</html>