
<div class="text-center">
    <h1 class="display-4"></h1>
    <table>
        <tr>

            <td><a href="~/EmployeesDepartments/GetAllWorkPositionWithDepartment/">Список должностных позиций</a></td>
            <td><a href="~/EmployeesDepartments/GetDepartmentsWithChief/">Список отделов с указанием начальника</a></td>
            <td><a href="~/EmployeesDepartments/GetFreeRates/">Список свободных вакансий</a></td>
            <td><a href="~/EmployeesDepartments/GetAllWorkPositionWithDepartment/">Список должностей</a></td>
        </tr>
    </table>

</div>