
<div >
    <h1 class=""></h1>
    <table>
        <tr>

            <td><a href="~/EmployeesDepartments/GetAllWorkPositionWithDepartment/">Список должностных позиций</a></td>
        </tr>
        <tr>
            <td><a href="~/EmployeesDepartments/GetDepartmentsWithChief/">Список отделов с указанием начальника</a></td>
        </tr>
        <tr>
            <td><a href="~/EmployeesDepartments/GetFreeRates/">Список свободных позиций</a></td>
        </tr>
        <tr>
            <td><a href="~/EmployeesDepartments/GetAllWorkPositionWithDepartment/">Список должностей</a></td>
        </tr>
    </table>

</div>